[submodule "mdbook-rust-analyzer-highlight"]
	path = mdbook-rust-analyzer-highlight
	url = https://github.com/sagi21805/mdbook-rust-analyzer-highlight.git
	branch = master
[submodule "mdbook-gh-issue-preview"]
	path = mdbook-gh-issue-preview
	url = https://github.com/sagi21805/mdbook-gh-issue-preview.git
	branch = master
[submodule "learnixOS"]
	path = learnixOS
	url = https://github.com/sagi21805/learnixOS.git
	branch = master
